.howlingMoonContainer {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.header {
  display: flex;
  flex-direction: column;
  gap: 0;

  p {
    color: rgba(0, 0, 0, 0.6);
  }
}

div {
  max-width: 100vw;
}

h1 {
  font-size: 128px;
  margin: 0;
}

p {
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.01em;
  margin: 0;

  padding: 32px;
  padding-top: 0;
}

.howlingMoonImage {
  position: absolute;
  top: 1000px;
  left: 320px;
}


.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

svg {
  display: flex;

}

.howlingMoon {
  border: 1px solid red;
}
