@import '../../App.scss';


.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: $primary-color;
}

.navList {
  width: 1600px;
  height: 120px;
  margin: 0;
  padding: 0px 32px;
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navListItem {
  text-align: start;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  position: relative;
}

.navListLinks {
  max-width: 1600px;
  height: 120px;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  padding: 0;
}

.navListLinks .navListItem {
  text-align: start;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  position: relative;
}

.navListLinks .navListItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  margin-top: 4px;
  background-color: $secondary-color; /* Change this to the desired color */
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  opacity: 0.8;
}

.navListLinks .navListItem:hover::after {
  transform: scaleX(1);
}

.listItem {
  cursor: pointer;
}
