@import '../../../App.scss';

.experimentSection {
  max-width: 100vw;
  position: relative;

  background: linear-gradient(180deg, #E0DFDD 0%, #000000 100%);;
  ;
}

.experimentContainer {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // border: 1px solid red;
  // background: linear-gradient(180deg, #E0DFDD 0%, #000000 800%);
}

.experimentHeader {
  display: flex;
  flex-direction: row;
  gap: 0;

  p {
    color: rgba(0, 0, 0, 0.6);
  }
}

.experimentHeaderText{
  font-size: 128px;
  margin: 0;

  z-index: 5;
}

.experimentHeaderParagraph {
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.01em;
  margin: 0;

  padding: 0 32px;
}

.experimentImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.experimentPageBottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.bottomRightContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}


.experimentBottomSentence {
  padding: 0 16px;
  color: white;
  opacity: 0.6 !important;
}

.experimentLinkContainer {
  margin-top: 32px;
  margin-left: auto;
  padding: 0 32px;
}

.experimentLinkLogo {
  color: black;
  opacity: 0.6;
}

.experimentArrow {
  opacity: 0.6 !important;
  padding: 32px;
}
