$background-color: #E0DFDD;
$secondary-color: #27374D;

body {
  margin: 0 !important;

  background: $background-color;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: -0.01em;
  // font-weight: 300;
}
