$background-color: #E0DFDD;
$secondary-color: #27374D;

body {
  height: 100%;
  padding: 0;
  margin: 0 !important;


  background: $background-color;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: -0.01em;
  // font-weight: 300;
}

#root {
  height: 100%;
}

.App {
  width: 100vw;
  height: 100%;
}

div {
  max-width: 100vw;
}

h1 {
  letter-spacing: -0.01em;
  line-height: 0.8;
  font-size: 128px;
  font-weight: 800;
  margin: 0;
  padding: 32px;
}

p {
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.arrow {
  padding: 32px;
}

.fade-in-section {
  opacity: 0;
}

.fade-in-section.visible {
  opacity: 1;
  transition: opacity 0.8s ease-in;
}
