@import '../../App.scss';

.aboutBackgroundImage {
  color: $background-color;
  opacity: 0.2;
  font-size: 880px;

  float: right;
  z-index: 1;

  margin-top: 80px;
  margin-bottom: 32px;

  position: absolute;
  right: 0;
}

.aboutSection {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  background-color: $primary-color;
  color: $background-color;
}

.AboutContainer {
  height: 100vh;
  width: 1600px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.aboutContent {
  max-width: 35vw;
  // color: #E0DFDD;

  margin-top: 40px;
}

.aboutHeader {
  display: flex;
  justify-content: space-between;

  width: 1600px;
}

.bottomText {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  max-height: 656px;

}

.aboutLinkContainer {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 32px;
  margin-right: 32px;
}

.aboutLinkLogo {
  color: $detail-color;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;

}

.aboutLinkLogo:hover {
  opacity: 1;
}

.AboutContainer p {
  padding: 0 40px;
  margin: 0;
}

.typoDark {
  color: $background-color;
}

@media only screen and (max-width: 400px) {
  .aboutContent {
    max-width: 80%;
  }
}
