@import '../../App.scss';

#hero {
  display: flex;
  background-color: $background-color;
}

.heroContainer {
  height: 85vh;
  margin-top: 3.2vh;

  max-width: 1600px;
  margin: auto;
}

.heroImage {
  padding: 0 48px;
}

.heroPageBottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  img {
    cursor: pointer;
  }
}

.heroBottomTitle {
  text-align: end;
}

