.heroContainer {
  height: 85vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 3.2vh;

}

div {
  max-width: 100vw;
}

h1 {
  font-size: 128px;
  margin: 0;
}

p {
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.01em;
}

img {
  position: absolute;
  top: 442px;
  left: 16px;
}

.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

svg {
  display: flex;

}
