.heroContainer {
  height: 85vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 3.2vh;

}

.heroImage {
  position: absolute;
  top: 474px;
  left: 16px;
}

.heroPageBottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.heroBottomTitle {
  text-align: end;
}
