.aboutSection {
  height: 100vh;
  position: relative;

  overflow: hidden;
}

.AboutContainer {
  height: 100vh;

  background-color: #000000;
  color: white;
  // color: white;
  // border: 1px solid blue;
}

.aboutContent {
  max-width: 35vw;
  padding: 32px;
  color: #E0DFDD;
  margin: 0;

  position: absolute;
  right: 0;
  bottom: 40px;
}

.aboutBackgroundImage {
  color: white;
  opacity: 0.2;
  font-size: 880px;

  float: right;
  z-index: 1;

  margin-top: 80px;
  margin-bottom: 32px;

  position: absolute;
  right: 0;
}

.bottomText {
  display: flex;
  justify-content: space-between;
  align-content: end;
  max-height: 656px;
}

.aboutLinkContainer {
  position: absolute;
  top: 32px;
  right: 32px;
  display: flex;
  gap: 8px;
}

.aboutLinkLogo {
  color: white;
  opacity: 0.6;

  cursor: pointer;
}

.AboutContainer p {
  padding: 0 40px;
}
