.aboutSection {
  height: 100vh;
  position: relative;
}

.AboutContainer {
  height: 100vh;

  background:linear-gradient(180deg, #E0DFDD 0%, #000000 100%);;
  // color: white;
  border: 1px solid blue;
}

.aboutContent {
  max-width: 35vw;
  padding: 32px;
  color: #E0DFDD;

  margin-top: 0;
}

.aboutBackgroundImage {
  color: white;
  opacity: 0.2;
  font-size: 800px;

  float: right;
  z-index: 1;

  margin-top: 200px;
  margin-bottom: 0px;
}

.bottomText {
  display: flex;
  justify-content: space-between;
  align-content: end;
}

.aboutLinkContainer {
  position: absolute;
  top: 32px;
  right: 32px;

}

.aboutLinkLogo {
  color: #000000;
  opacity: 0.6;

  cursor: pointer;
}
