$background-color: #E0DFDD;
$primary-color: #212427;
$secondary-color: #016c5db5;
$detail-color: #00ffddb5;

@media only screen and (max-width: 400px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }

  h1 {
    font-size: 200% !important;
    padding: 0px !important;
  }

  p {
    font-size: 16px;
    margin: 0;
    align-self: baseline;
  }

  .arrow {
    padding: 16px;
  }

  .fade-in-section {
    transform: translateX(20px);
  }
}

body {
  height: 100%;
  padding: 0;
  margin: 0 !important;


  background: $background-color;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: -0.01em;
  // font-weight: 300;
}

#root {
  height: 100%;
}

.App {
  width: 100vw;
  height: 100%;
}

div {
  max-width: 100vw;
}

h1 {
  letter-spacing: -0.01em;
  line-height: 0.8;
  font-size: 128px;
  font-weight: 800;
  margin: 0;
  padding: 32px;

  color: $primary-color;
}

p {
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.01em;
}

.arrow {
  padding: 32px;
}

.fade-in-section {
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateX(0px);
}
