@import '../../App.scss';

.howlingMoonSection {
  max-width: 100vw;
  position: relative;

  background-color: $background-color;
}

.howlingMoonContainer {
  height: 100vh;
  max-width: 1600px;

  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // border: 1px solid red;
  // background: linear-gradient(180deg, #E0DFDD 0%, #000000 800%);
}

.howlingMoonHeader {
  display: flex;
  flex-direction: row;
  gap: 0;

  z-index: 5;

  p {
    color: rgba(0, 0, 0, 0.6);
    // padding: 32px 0;
  }
}

.howlingMoonHeaderText{
  font-size: 128px;
  margin: 0;

  z-index: 5;
}

.howlingMoonHeaderParagraph {
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.01em;
  margin: 0;

  padding: 0 32px;
}

.howlingMoonImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.howlingMoonPageBottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.bottomRightContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}


.howlingMoonBottomSentence {
  padding: 0 16px;
}

.howlingMoonLinkContainer {
  margin-top: 32px;
  margin-left: auto;
  padding: 0 32px;
}

.howlingMoonLinkLogo {
  color: $secondary-color;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.howlingMoonLinkLogo:hover {
  opacity: 1;
}

.arrow {
  cursor: pointer;
  z-index: 5;
  opacity: 0.8;
  transition: transform 0.2s ease-in-out opacity 0.4s ease-in-out;
  position: relative;
  animation: bounce 0.9s infinite;
  animation-delay: 1.5s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Adjust the value as per your preference */
  }
}

.arrow:hover {
  animation-play-state: paused;
}
